body {
    background: #f2f2f2;
    font-family: Arial;
    text-align: center;
}

.container {
    background: white;
    width: 50%;
    margin: 50px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px #aaa;
}

input[type="file"] {
    margin: 20px;
}

button {
    padding: 10px 25px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

a {
    padding: 10px 20px;
    background: darkgreen;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}
